<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
</head>
<body>
    <h2>You are welcome to the password manager portal  <a href="/infos">click here to add info</a></h2>
</body>
</html>